.formDiv {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: grid;
  width: 80%;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

form.mobile {
  grid-template-columns: 1fr;
}

.formDiv button{
  height: 56px;
}
