<div class="formDiv">
  <form
    [formGroup]="form"
    [ngClass]="{ mobile: isMobile }"
    (ngSubmit)="onSubmit()"
  >
    <mat-form-field appearance="outline" *ngIf="!isMapOpen">
      <mat-label>Current Players</mat-label>
      <input matInput type="number" formControlName="currentPlayers" />
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf="!isMapOpen">
      <mat-label>Players Needed</mat-label>
      <input matInput type="number" formControlName="playersNeeded" />
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf="!isMapOpen">
      <mat-label>Court Name</mat-label>
      <input matInput placeholder="Ex. Kušlanova" formControlName="courtName" />
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      (click)="onOpenMap()"
      *ngIf="!isMapOpen"
    >
      Choose Location
    </button>

    <button mat-raised-button color="primary" *ngIf="!isMapOpen" type="submit">
      Create New Match
    </button>

    <div *ngIf="isMapOpen">
      <app-map></app-map>
    </div>
  </form>
</div>
