@use "@angular/material" as mat;

@include mat.core();

$wgn-view-primary-dark: mat.define-palette(mat.$indigo-palette);

$wgn-view-primary: mat.define-palette(mat.$deep-orange-palette);
$wgn-view-accent: mat.define-palette(mat.$brown-palette);
$wgn-view-warn: mat.define-palette(mat.$red-palette);

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $wgn-view-primary,
      accent: $wgn-view-accent,
      warn: $wgn-view-warn,
    ),
  )
);

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $wgn-view-primary-dark,
      accent: $wgn-view-accent,
      warn: $wgn-view-warn,
    ),
  )
);

.theme-light {
  @include mat.all-component-themes($light-theme);
}

.theme-dark {
  @include mat.all-component-themes($dark-theme);
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
